.btn-grad {
    background-image: linear-gradient(
      to right,
      #aa076b 0%,
      #61045f 51%,
      #aa076b 100%
    );
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
  
    border-radius: 10px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .btn-reg {
    background-image: linear-gradient(
      to right,
      #2c3e50 0%,
      #4ca1af 51%,
      #2c3e50 100%
    );
  
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
  
    border-radius: 10px;
    display: block;
  }
  
  .btn-reg:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  